details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  right: 0px;
  content: ' +';
}
@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
details[open] summary:after {
  content: ' −';
}
